@import url('https://fonts.googleapis.com/css?family=Handlee');

body {
  font-family: 'Handlee', cursive;
  margin: 0;
}

.night-header {
  text-align: left;
}

.App {
  background-color: #D5D0CE;
}

.App-logo {
  float: right;
  height: 150px;
  margin: 0 15px -55px 0;
}

.App-header {
  height: 25px;
  padding: 20px;
}

.App-title {
  color: #0E4764;
  font-family: 'Handlee', cursive;
  font-size: 3.5em;
  padding-top: 25px;
  text-align: center;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.pic-container{
  display:flex;
  justify-content:center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

img.ui.large.image {
  height: 500px;
  width: 590px;
}


img.ui.big.image {
  height: 500px;
  width: 700px;
}

.night-footer{
  color: #0E4764;
  height: 500px;
}
